{{- if or .Values.thumbor_config .Values.thumbor_key.manage }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "common.names.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
data:
  {{- if .Values.thumbor_config }}
  thumbor.conf: |-
    {{- include "common.tplvalues.render" (dict "value" .Values.thumbor_config "context" $) | b64enc | nindent 4 }}
  {{- end }}
  {{- if .Values.thumbor_key.manage }}
  thumbor.key: {{ include "common.secrets.passwords.manage" (dict "secret" (include "common.names.fullname" .) "key" "thumbor.key" "providedValues" (list "thumbor_key.content" ) "context" $) }}
  {{- end }}
{{- end }}
